@import "tailwindcss";

@theme {
  --color-ananas-green: #228B22;
  --color-ananas-light: #4CAF50;
  --color-ananas-dark: #006400;
  --color-ananas-bg: #fcfcfc;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: var(--color-ananas-bg);
  color: #1f2937;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
